
<div class="ui container">

    <h1>
        Title: {{listing.dataValues.title}}
        {{#if showEditButton }}
            <a href="/listings/edit/{{listing.dataValues.id}}"><i class="edit outline icon"></i></a>
        {{/if}}
    </h1>
    <img class="ui fluid image" src="{{imageUrl}}" />
    <h3>${{listing.dataValues.price}}/day</h3>
    <p>{{listing.dataValues.description}}</p>
    
    {{#if showEditButton }}
        <form action="/listings/{{listing.dataValues.id}}?_method=DELETE" method="POST">
            <button type="submit" class="ui orange button">Delete</button>
        </form>
    {{/if}}
    
    {{#if user }}
    <form class="ui form" action="/listings/{{listing.dataValues.id}}/reserve" method="POST" id="reserve-form" style="display: none;">
        <div class="two fields">
            <div class="field">
                <label>Check-in Date</label>
                <input type="text" class="datepicker" name="startDate" />
            </div>
            <div class="field">
                <label>Check-out Date</label>
                <input type="text" class="datepicker" name="endDate" />
            </div>
        </div>
        <button type="submit" class="ui green button">Reserve</button>
    </form>
    <button type="button" class="ui primary button" id="make-reservation">Make Reservation</button>
    {{/if}}
</div>

